<%= form_for(@bright_idea) do |f| %>
  <% if @bright_idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bright_idea.errors.count, "error") %> prohibited this bright_idea from being saved:</h2>

      <ul>
      <% @bright_idea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">

  <input name="bright_idea[user_id]" value="<%= current_user.id %>" type="hidden">
  <div class="field" style="display:inline-block">
    <%= f.label :idea, class: 'new_idea' %>
    <%= f.text_area :idea, style: 'width: 600px' %>
  </div>
  <div class="actions" style="display:inline-block">
    <%= f.submit %>
  </div>
</div>
<% end %>
