<h1>Bright Ideas Dashboard</h1>


<%= render 'form' %>

<table>
  <thead>
    <tr>
      <th>Aliases</th>
      <th>Ideas</th>
      <th>Likes</th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
    <% @bright_ideas.each do |bright_idea| %>
      <tr>
        <td><a href="users/<%= bright_idea.user_id %>"><%= User.find(bright_idea.user_id).alias %></a> says:
        <td>"<%= bright_idea.idea %>"</td>
        <td>Like # of Likes</td>
        <td>
          <% if current_user.id == bright_idea.user_id %>
        <%= link_to 'Edit', edit_bright_idea_path(bright_idea) %> 
        <%= link_to 'Destroy', bright_idea, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

